* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1;
}

p {
  margin-bottom: 0;
}
