@import "_settings.scss";
.display-large {
  font-family: $display-large-font-family-name;
  font-style: $display-large-font-family-style;
  font-weight: $display-large-font-weight;
  font-size: $display-large-font-size;
  letter-spacing: $display-large-letter-spacing;
  line-height: $display-large-line-height;
}
.display-medium {
  font-family: $display-medium-font-family-name;
  font-style: $display-medium-font-family-style;
  font-weight: $display-medium-font-weight;
  font-size: $display-medium-font-size;
  letter-spacing: $display-medium-letter-spacing;
  line-height: $display-medium-line-height;
}
.display-small {
  font-family: $display-small-font-family-name;
  font-style: $display-small-font-family-style;
  font-weight: $display-small-font-weight;
  font-size: $display-small-font-size;
  letter-spacing: $display-small-letter-spacing;
  line-height: $display-small-line-height;
}
.headline-large {
  font-family: $headline-large-font-family-name;
  font-style: $headline-large-font-family-style;
  font-weight: $headline-large-font-weight;
  font-size: $headline-large-font-size;
  letter-spacing: $headline-large-letter-spacing;
  line-height: $headline-large-line-height;
}
.headline-medium {
  font-family: $headline-medium-font-family-name;
  font-style: $headline-medium-font-family-style;
  font-weight: $headline-medium-font-weight;
  font-size: $headline-medium-font-size;
  letter-spacing: $headline-medium-letter-spacing;
  line-height: $headline-medium-line-height;
}
.headline-small {
  font-family: $headline-small-font-family-name;
  font-style: $headline-small-font-family-style;
  font-weight: $headline-small-font-weight;
  font-size: $headline-small-font-size;
  letter-spacing: $headline-small-letter-spacing;
  line-height: $headline-small-line-height;
}
.body-large {
  font-family: $body-large-font-family-name;
  font-style: $body-large-font-family-style;
  font-weight: $body-large-font-weight;
  font-size: $body-large-font-size;
  letter-spacing: $body-large-letter-spacing;
  line-height: $body-large-line-height;
}
.body-medium {
  font-family: $body-medium-font-family-name;
  font-style: $body-medium-font-family-style;
  font-weight: $body-medium-font-weight;
  font-size: $body-medium-font-size;
  letter-spacing: $body-medium-letter-spacing;
  line-height: $body-medium-line-height;
}
.body-small {
  font-family: $body-small-font-family-name;
  font-style: $body-small-font-family-style;
  font-weight: $body-small-font-weight;
  font-size: $body-small-font-size;
  letter-spacing: $body-small-letter-spacing;
  line-height: $body-small-line-height;
}
.label-large {
  font-family: $label-large-font-family-name;
  font-style: $label-large-font-family-style;
  font-weight: $label-large-font-weight;
  font-size: $label-large-font-size;
  letter-spacing: $label-large-letter-spacing;
  line-height: $label-large-line-height;
}
.label-medium {
  font-family: $label-medium-font-family-name;
  font-style: $label-medium-font-family-style;
  font-weight: $label-medium-font-weight;
  font-size: $label-medium-font-size;
  letter-spacing: $label-medium-letter-spacing;
  line-height: $label-medium-line-height;
}
.label-small {
  font-family: $label-small-font-family-name;
  font-style: $label-small-font-family-style;
  font-weight: $label-small-font-weight;
  font-size: $label-small-font-size;
  letter-spacing: $label-small-letter-spacing;
  line-height: $label-small-line-height;
}
.title-large {
  font-family: $title-large-font-family-name;
  font-style: $title-large-font-family-style;
  font-weight: $title-large-font-weight;
  font-size: $title-large-font-size;
  letter-spacing: $title-large-letter-spacing;
  line-height: $title-large-line-height;
}
.title-medium {
  font-family: $title-medium-font-family-name;
  font-style: $title-medium-font-family-style;
  font-weight: $title-medium-font-weight;
  font-size: $title-medium-font-size;
  letter-spacing: $title-medium-letter-spacing;
  line-height: $title-medium-line-height;
}
.title-small {
  font-family: $title-small-font-family-name;
  font-style: $title-small-font-family-style;
  font-weight: $title-small-font-weight;
  font-size: $title-small-font-size;
  letter-spacing: $title-small-letter-spacing;
  line-height: $title-small-line-height;
}
